html, body {
    position:relative;
    height: 100%;
    font-family: Courier New, Arial, Helvetica, serif;
}

}

.nav-bar ul li {
    float: left;
}

.nav-bar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.0248901903367496vw 1.171303074670571vw;
    text-decoration: none;
}

.nav-bar ul li:hover:not(.active) {
    background-color: lightgreen;

}

.img-wrap{
width:50%;
position: absolute;
  top:5vw;
    left: 5vw;
    right: 10vw


}

.img-wrap img{width:50%;padding:10px;border-radius:50%;}

}

.text{
position: absolute;
width:29.282576866764277vw;
height: 29.282576866764277vw;
}

.container{
    position: absolute;
}

.title {
    position: absolute;
    top:5vw;
    left: 37vw;
    right: 5vw
  

}

.resume {
   position: absolute;
   left: 15vw;
    align-content: center;

}

.myButton {
  box-shadow: 0vw 0.07320644216691069vw 0vw 0vw #fce2c1;
  background-color:#eba328;
  border-radius:0.43923865300146414vw;
  border:0.07320644216691069vw solid #eeb44f;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:1.0980966325036603vw;
  font-weight:bold;
  padding:0.43923865300146414vw 1.7569546120058566vw;
  text-decoration:none;
  text-shadow:0vw 0.07320644216691069vw 0vw #cc9f52;
}
.myButton:hover {
  background-color:#fb9e25;
}
.myButton:active {
  position:relative;
  top:0.07320644216691069vw;
}


.cursor {
  width: 25px;
    height: 25px;
    background: #eba328;
    border-radius: 50%;
    position: absolute;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

.cursorClick {
    animation: clickEffect .5s forwards;
    background: #F4E04D;

}

