body, html {
    position:relative;
    height: 100%;
    font-family: Courier New, Arial, Helvetica, serif;
    
}

.circle {
    position: absolute;
    background:#eba328;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    top: 11vw;
    left: 21vw;
    opacity: 60%;
    z-index: 0;

    }

.image {
    position: absolute;
    top: 13vw;
    left: 28vw;
  align-content: center;
}

.nav-bar ul li {
    float: left;
}

.nav-bar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar ul li:hover:not(.active) {
    background-color: lightgreen;

}


.introduction {
    position: absolute;
    top:11vw;
    left: 27vw;
    right: 27vw;
    align-content: center;
    color: black;
}

.title {
    position: absolute;
    top:5vw;
    left: 35vw;

}

.typewriter h1 {
 position: absolute;
  color: #cd5e30;
  font-family: Courier New;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

#bottom {
    position: absolute;
  align-content: : center;
    left: 40vw;
    bottom: -37vw
}

a:hover {
  background-color:#d27d46;
}

.container{
    position: relative;
}


.cursor {
  width: 25px;
    height: 25px;
    background: #eba328;
    border-radius: 50%;
    position: absolute;
    transition-duration: 100ms;
    transition-timing-function: ease-out;

}

.cursorClick {
    animation: clickEffect .5s forwards;
    background: #F4E04D;

}


